# Epee-Fencing Game
Game Development Project #1

## How To Play
- Red Player use the W, A, S, D Keys.
- Blue Player use the Arrow Keys.
  
### Build Version 1.0

Scoring system added and beta testing added.

### Authors
- Joel Gutierrez
- Brandon Anzaldua

### Advisor
- Emmett Tomai

### Installation
Download and you can play.

### Warning
Recommended to play in Windowed Mode. If you play in full screen mode, press the Windows (Start Key) then click on the Unity Icon of the Game to close the game.

### Tools Used
Designing the Fencer and the Sword:
- Paint 3D.

Engine Used:
- Unity.

### Feedback allowed
- Constructive criticism and feedback is allowed, any rude or unnecessary comments will be deleted/closed.